<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.harvey.flushdns</string>
	<key>connections</key>
	<dict>
		<key>868DBD3D-B0CB-42CE-B95F-B5A4ED6FB0E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8596C57-F9FB-4BB2-9D55-9659646FE2A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8596C57-F9FB-4BB2-9D55-9659646FE2A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54BD1687-10E2-4EA9-BAAD-7450CF391F22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harvey Doveton</string>
	<key>description</key>
	<string>Flush DNS on all versions between 10.6 to 10.13</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Flush DNS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flush</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Flush DNS</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>868DBD3D-B0CB-42CE-B95F-B5A4ED6FB0E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>DNS has been flushed</string>
				<key>title</key>
				<string>Flush DNS</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>54BD1687-10E2-4EA9-BAAD-7450CF391F22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>#!/bin/bash

# ver="10.11.1"
ver=`sw_vers -productVersion`

IFS='.' read -r -a array &lt;&lt;&lt; "$ver"

if [ ${array[1]} -eq 6 ]; then
    echo "Version ${ver} is Snow Leopard"
    osascript -e 'do shell script "sudo dscacheutil -flushcache" with administrator privileges'
elif [ ${array[1]} -eq 7 ] || [ ${array[1]} -eq 8 ] || [ ${array[1]} -eq 9 ]; then
    echo "Version ${ver} is one of the following: Lion, Mountain Lion or Mavericks"
    osascript -e 'do shell script "sudo killall -HUP mDNSResponder" with administrator privileges'
elif ([ ${array[1]} -eq 10 ] &amp;&amp; [ -z ${array[2]} ]) || ([ ${array[1]} -eq 10 ] &amp;&amp; [ ${array[2]} -le 3 ]); then
    echo "Version ${ver} is Yosemite and 10.10.3 or less"
    osascript -e 'do shell script "sudo discoveryutil mdnsflushcache" with administrator privileges'
elif [ ${array[1]} -eq 10 ] &amp;&amp; [ ${array[2]} -ge 4 ]; then
    echo "Version ${ver} is Yosemite and 10.10.4 or higher"
    osascript -e 'do shell script "sudo killall -HUP mDNSResponder" with administrator privileges'
elif [ ${array[1]} -eq 11 ]; then
    echo "Version ${ver} is El Capitan"
    osascript -e 'do shell script "sudo killall -HUP mDNSResponder" with administrator privileges'
elif [ ${array[1]} -eq 12 ]; then
     echo "Version ${ver} is macOS Sierra"
     osascript -e 'do shell script "sudo killall -HUP mDNSResponder" with administrator privileges'
elif [ ${array[1]} -eq 13 ]; then
     echo "Version ${ver} is macOS High Sierra"
     osascript -e 'do shell script "sudo killall -HUP mDNSResponder" with administrator privileges'
else
    echo "Version ${ver} is Unknown"
    exit 1
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F8596C57-F9FB-4BB2-9D55-9659646FE2A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>54BD1687-10E2-4EA9-BAAD-7450CF391F22</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>868DBD3D-B0CB-42CE-B95F-B5A4ED6FB0E1</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>F8596C57-F9FB-4BB2-9D55-9659646FE2A4</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
