<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.audiocommander.safariwin</string>
	<key>connections</key>
	<dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6D05D1D-F21C-406B-8432-D583B66910EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C08A8E6-33C4-4DE1-B0EF-74228C887897</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6D05D1D-F21C-406B-8432-D583B66910EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D288F871-3BD4-45B3-BD91-2BA5BAA6A1B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6D05D1D-F21C-406B-8432-D583B66910EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Markert</string>
	<key>description</key>
	<string>Open url in new Safari Window</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Safari Window</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>safari</string>
				<key>subtext</key>
				<string>Open url in new Safari Window</string>
				<key>text</key>
				<string>Safari Window</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Safari"
		if "http:" is in q or "www." is in q or ".com" is in q or ".de" is in q or ".edu" is in q or ".net" is in q or ".org" is in q or ".se" is in q then
			if q starts with "http://" or q starts with "https://" then
				make new document with properties {URL:q}
			else
				make new document with properties {URL:"http://"&amp;q}
			end if
		else
			make new document with properties {URL:"http://www.google.com/search?q="&amp;q}
		end if
		activate
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F6D05D1D-F21C-406B-8432-D583B66910EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>sn</string>
				<key>subtext</key>
				<string>Open url in new Safari Window</string>
				<key>text</key>
				<string>New Safari Window</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8C08A8E6-33C4-4DE1-B0EF-74228C887897</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D288F871-3BD4-45B3-BD91-2BA5BAA6A1B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>- type the keyword and enter: opens a new Safari window (regardless of your Safari settings to open new links in a tab)

- type the keyword and an optional string: search google in a new Safari window

- type the keyword and an optional URL: open the URL in a new Safari window</string>
	<key>uidata</key>
	<dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>8C08A8E6-33C4-4DE1-B0EF-74228C887897</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>D288F871-3BD4-45B3-BD91-2BA5BAA6A1B0</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>F6D05D1D-F21C-406B-8432-D583B66910EA</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.audiocommander.de</string>
</dict>
</plist>
